@import 'tailwindcss';

@layer base {
  body {
    font-family: var(--font-lateef);
    font-weight: 200;
    font-size: 18px;
    letter-spacing: -0.01em;
    line-height: 0.95;
    @variant sm {
      font-size: 24px;
    }
  }

  a {
    cursor: pointer !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-normal leading-[0.85] tracking-[-0.04em];
  }

  .section-header {
    @apply text-[18px] leading-[1.04] tracking-[-0.04em] sm:text-[40px];
  }
}

@theme extend {
  --font-sans: var(--font-ibm-plex-sans);
  --font-serif: var(--font-lateef);

  --text-10xl: 10rem;
  --text-10xl--line-height: 1;
  --text-11xl: 12rem;
  --text-11xl--line-height: 1;
  --text-12xl: 14rem;
  --text-12xl--line-height: 1;
  --text-13xl: 16rem;
  --text-13xl--line-height: 1;
  --text-14xl: 18rem;
  --text-14xl--line-height: 1;
  --text-15xl: 20rem;
  --text-15xl--line-height: 1;
  --text-16xl: 22rem;
  --text-16xl--line-height: 1;
  --text-17xl: 24rem;
  --text-17xl--line-height: 1;
  --text-18xl: 26rem;
  --text-18xl--line-height: 1;
  --text-19xl: 28rem;
  --text-19xl--line-height: 1;
  --text-20xl: 30rem;
  --text-20xl--line-height: 1;

  --color-pixel-platinum: #ebe7e4;

  --color-pixel-rosy: #f37992;
  --color-pixel-lte-rosy: #f3c8da;

  --color-pixel-teal: #00a180;
  --color-pixel-drk-teal: #006550;

  --color-pixel-fawn: #cfb28a;

  --color-pixel-poppy: #fd3f44;
  --color-pixel-drk-poppy: #991c12;

  --color-pixel-celestial: #4ba5d7;
  --color-pixel-drk-celestial: #216d96;
  --color-pixel-lte-celestial: #dfe9fd;

  --color-pixel-fire: #ff8d11;
  --color-pixel-lte-fire: #ffb554;

  --color-pixel-solar: #fec601;
  --color-pixel-lte-solar: #ffeaa1;

  --color-pixel-off-white: #f5f3f2;
  --color-pixel-brown: #c9b58d;

  /* UI utility — not a brand colour */
  --color-pixel-placeholder-grey: #d9d9d9;
}
