---
import Layout from '../layouts/Layout.astro'
import Grid from '../components/Grid.astro'
import ContactForm from '../components/ContactForm.astro'
import type { FlowFieldOptions } from '../scripts/flow-field.ts'

interface Props {
  flowFieldColor?: FlowFieldOptions['color']
}

const { flowFieldColor = 'blue' } = Astro.props
---

<Layout>
  <h1 class="text-4xl font-bold mb-6">Contact Us</h1>
  <Grid>
    <ContactForm title="Get in touch" backgroundColor="var(--color-pixel-pink)" />
  </Grid>
</Layout>
