---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <section class="min-h-screen min-w-screen flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-9xl font-bold font-['IBM_Plex_Sans']">Pixel Agency.</h1>
      <h2 class="text-4xl mt-4">A refreshing 🍊 digital partner</h2>
    </div>
  </section>
</Layout>
