<span
  id="equal-sign"
  class="inline-flex items-center justify-center w-6 lg:w-8 h-6 lg:h-8 align-middle leading-none mb-2"
>
  <svg
    width="276"
    height="276"
    viewBox="0 0 276 276"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="w-full h-full"
  >
    <path
      d="M275.999 0V276H0V0H275.999ZM68.9648 160.634V180.507H205.824V160.634H68.9648ZM68.9648 102.187V122.059H205.824V102.187H68.9648Z"
      fill="var(--accent-bgc)"></path>
  </svg>
</span>
