---
import Grid from '@components/Grid.astro'

interface Props {
  calloutText?: string
  ctaText?: string
}
const {
  calloutText = "If you're exploring a digital project or want an honest second opinion, we're always happy to talk it through.",
  ctaText = "Let's find a path forward →"
} = Astro.props
---

<section id="callout" class="lg:mt-20">
  <Grid>
    <div class="col-span-full py-10 lg:py-14 grid grid-cols-12 gap-5" style="background-color: var(--accent-bgc);">
      <div class="col-span-12 lg:col-start-2 lg:col-span-6">
        <h4 class="text-[24px] lg:text-[40px] leading-[1.15] tracking-[-0.02em]">
          {calloutText}
        </h4>
        <a
          href="/contact"
          class="mt-6 font-sans font-normal inline-block w-fit bg-white px-4 py-2 text-base hover:underline"
          >{ctaText}</a
        >
      </div>
    </div>
  </Grid>
</section>
