---
import '../styles/global.css'
import { Font } from 'astro:assets'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en" class="h-full m-0">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-ibm-plex-sans" />
    <Font cssVariable="--font-lateef" />
    <title>Pixel Agency</title>
  </head>
  <body class="m-0 min-h-screen bg-pixel-off-white">
    <slot />
    <Footer />
  </body>
</html>
